@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      font-size: 10vw;
    }
    #h1head {
        font-size: 20vw;
    }
  }

@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}

#h1head {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

h1 {
    font-family: "samurai", sans-serif;
}

#navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

#navi li {
    display: inline;
    margin: 15px;
    font-family: "samurai", sans-serif;
}

#navi a {
    text-decoration: none;
    color: black;
}

#navi a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
}

#blackbelt {
    position: relative;
    width: 25vw;
    height: 35vw;
}

.textcenter {
    text-align: center
}

#judologo {
    position: relative;
    width: 12vw;
    margin-left: 3%;
    height: 35vw;
    top: 2vw;
}

#info {
    border: 3px solid;
    padding: 2vw;
    margin: 1vw;
    width: 50%;
}
p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

#guide {
    position: relative;
    margin-left: 7%;
    top: 20vw;
}
section {
    display: block;
}

.header {
    height: 21vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -75v;
}

.vid-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 40%;
        left: 30%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#h1his {
    text-align: center;
    font-size: 5vw;

}

#jigoro {
    width: 20vw;
    margin-left: 10%;
}

#jigorotext {
    position: relative;
    margin-left: 16vw;
    bottom: 2vw;
} 
/*#div1   {
    display: inline-block;
    width: 33%;
} */






/* .responsive.img {
    width: 100%;
    height: auto;
} --> /*

