@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}

@media only screen and (max-width: 600px){
    #info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        order: 1;
    }
    .aside1 {
        order: 2;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;
    }

    
    .aside2 {
        order: 3;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;

    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    } 

    #blackbelt {
        width: 50%;
    }

    /* p {
        font-size: 500px;
    } */
}

h1 {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

#navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

#navi li {
    display: inline;
    margin: 15px;
    font-family: "samurai", sans-serif;
}

#navi a {
    text-decoration: none;
    color: black;
}

#navi a:hover {
    text-decoration: underline;
}

body {
    max-width: 100%;
/*    overflow-x: hidden; */
}

.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
   /* flex-flow: row wrap;
    text-align: center; */
} 


#blackbelt {
    width: 100%;
}

#judologo {
    width: 100%;
    bottom: 80%;

    
} 

.textcenter {
    text-align: center;
}

/* .aside2{
    float: right;
} */



#info {
    border: 2px solid;
    padding: 2vw;
    width: 100%;
    border-radius: 10px;
}

p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

#guide {
    position: relative;
    margin-left: 7%;
    top: 20vw;
}

/*section {
    display: block;
} */

#h1history {
    position: relative;
    bottom: 30vw;
}

.header {
    height: 21vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -75v;
}


.vid-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 40%;
        left: 30%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#hr1 {
    position: relative;
    bottom: 20vw;
}

#jigoro {
    position: relative;
    width: 30%;
    bottom: 40vw;
/*   left: 40px;
    top: 2500px;
    width: 500px; */
    margin-left: 5vw;
    margin-right: 2vw;
    border: solid 2px;
    border-radius: 10px; 
}

#jigoinfo {
    position: relative;
    bottom: 42vw;
    margin-left: 1vw;
    border: solid 2px;
    border-radius: 10px;
    margin-right: 2vw;
}

.jigoro {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: inherit;
}



/*#div1   {
    display: inline-block;
    width: 33%;
} */






/* .responsive.img {
    width: 100%;
    height: auto;
} --> /*

