@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}

@media only screen and (max-width: 600px){
    #info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        order: 1;
    }
    .aside1 {
        order: 2;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;
    }

    
    .aside2 {
        order: 3;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;

    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    } 

    #blackbelt {
        width: 50%;
    }

    /* p {
        font-size: 500px;
    } */

    #contact-form {
        
    }
}

@media only screen and (max-width: 1280px){
    html, body {
        overflow-x: hidden;
    }
}

a {
    color: black;
}

#h1head {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: "samurai", sans-serif;
}

#navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

#navi li {
    display: inline;
    margin: 15px;
    font-family: "samurai", sans-serif;
}

#navi a {
    text-decoration: none;
    color: black;
}

#navi a:hover {
    text-decoration: underline;
}

/* body {
    max-width: 100%;
    overflow-x: hidden; 
} */



.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
   /* flex-flow: row wrap;
    text-align: center; */
} 


#blackbelt {
    width: 15vw;
}

#judologo {
    width: 100%;
    bottom: 80%;   
} 

#jigoro {
    width: 40%;
    margin-right: 2vw;
    border: solid 2px;
    border-radius: 10px; 
}

#handshake {
    width: 40%;
    bottom: 50vw;
    border: solid 2px;
    border-radius: 10px;
    margin-left: 2vw;
}

#randori {
    width: 40%;
    border: solid 2px;
    border-radius: 10px;
    margin-right: 2vw;
    margin-top: 2vw;
}

#jigoinfo {
    border: solid 2px;
    border-radius: 10px;
    padding: 2vw;
    width: 100%;
    margin: 0;
}

#philoinfo {
    border: solid 2px;
    border-radius: 10px;
    width: 100%;
    padding: 2vw;
    margin: 0;
}

#randoriinfo {
    padding: 2vw;
    bottom: 45vw;
    border: solid 2px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    margin-top: 2vw;
}

.flex {
    display: flex;
}

.textcenter {
    text-align: center;
}

#info {
    border: 2px solid;
    padding: 2vw;
    width: 100%;
    border-radius: 10px;
}

p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

/*#guide {
    margin-right: 400px;
}

.guidevideo {
    display: flex;
    justify-content: center;
} 


#h1history {
    position: relative;
    bottom: 30vw;
}

#h1philo {
    position: relative;
    bottom: 40vw
} */


.header {
    height: 21vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
}

hr {
    margin-top: 8vw;
}

#contact-form {
    font-family: "samurai", sans-serif;
    font-size: 40px;
}

.divform {
    display: flex;
    justify-content: center;
}


/* .vid-container {
    display: flex;
    justify-content: center;
    padding-top: 56.25%
}

.responsive-iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
} */

/* #hr1 {
    position: relative;
    bottom: 20vw;
}

#hr2 {
    position: relative;
    bottom: 30vw;
}

#hr3 {
    position: relative;
    bottom: 35vw;
}














/*#footer {



}

#wrap {
  
} */