/* imported fonts here */
@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}

/* media queries for mobile devices with max-width: 600px here */
@media only screen and (max-width: 600px){
    #info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        order: 1;
    }
    .aside1 {
        order: 2;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;
    }

    .aside2 {
        order: 3;
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;

    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    } 

    .flex {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }

    .flex2 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    } 


    #randori {
        margin-top: 100px;
        margin-left: 12px;
    }

    #philoinfo {
        margin-bottom: 70px;
        order: 2;
    }
    
    #handshake {
        order: 1;
    }

    #blackbelt {
        width: 50%;
    }
}

/* css rules */
html {
    scroll-behavior: smooth;
  }

a {
    color:#000000;
}

p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

hr {
    margin-top: 8vw;
}

.aside1 {
    width: 15%;
}

.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex2 {
    display: flex;
}

.textcenter {
    text-align: center;
}

.push {
    min-height: 58vh;
}


/* header */
.header {
    height: 21vw;
    background-image: url("../images/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
}

#h1head {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 9vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: "samurai", sans-serif;
}

/* images */
#blackbelt {
    width: 15vw;
}

#judologo {
    width: 100%;
    bottom: 80%;   
} 

#jigoro {
    width: auto;
    max-width: 40%;
    margin-right: 2vw;
    border: solid 2px;
    border-radius: 10px;
    object-fit: cover;
}

#handshake {
    width: 40%;
    bottom: 50vw;
    border: solid 2px;
    border-radius: 10px;
    margin-left: 2vw;
    object-fit: cover;
}

#randori {
    width: 40%;
    border: solid 2px;
    border-radius: 10px;
    margin-right: 2vw;
    margin-top: 2vw;
    object-fit: cover;
}

/* text-boxes */

.textbox {
    border: solid 2px;
    border-radius: 10px;
    padding: 2vw;
    margin: 0;
}

#philoinfo {
    border: solid 2px;
    border-radius: 10px;
    width: 100%;
    padding: 2vw;
    margin: 0;
}

#randoriinfo {
    padding: 2vw;
    bottom: 45vw;
    border: solid 2px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    margin-top: 2vw;
}

#info {
    border: 2px solid;
    padding: 2vw;
    width: 100%;
    border-radius: 10px;

}

/* navbar */
.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

.navi li {
    display: inline;
    margin: 50px;
    font-family: "samurai", sans-serif;
}

.navi a {
    text-decoration: none;
    color: black;
}

.navi a:hover {
    text-decoration: underline;
}

/* video */

.vidcontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    max-width: 50%;
    margin: auto; 
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* contact-form */
#contact-form {
    font-family: "samurai", sans-serif;
    font-size: 2vw;
    text-align: center;
}

input {
    border: 2px solid;
    border-radius: 10px;
}

select {
    border: 2px solid;
    border-radius: 10px;
}

label {
    font-size: 3vw;
}

/* footer */
#footer {
    height: 50px;
}

.social-media {
    text-align: center;
}

.social-media i {
    font-size: 400%;
    margin: 5%;
    padding: 0;
}

.social-media > li {
    display: inline;
}

/* media-query rules for mobile devices with max-width: 600px are continued here,
as these will not be applied when placed at the top. */
@media only screen and (max-width: 600px){
    .social-media i {
        font-size: 150%;
        margin: 2%;
        float: left;
        width: 25%;
    }

    label {
        font-size: 18px;
    }

    p {
        font-size: 4vw;
    }

    .navi li {
        font-size: 7vw;
        margin: 30px;
        margin-left: -15px;
    }
}