@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}
h1 {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

#navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

#navi li {
    display: inline;
    margin: 15px;
    font-family: "samurai", sans-serif;
}

#navi a {
    text-decoration: none;
    color: black;
}

#navi a:hover {
    text-decoration: underline;
}

p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2rem;

}
section {
    display: block;
}

.header {
    height: 20vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -75v;
}


.vid-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 40%;
        left: 30%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}


/*#div1   {
    display: inline-block;
    width: 33%;
} */

.container {
    display: flex;
    width: 100%;
    height: auto;
}

#blackbelt {
    width: 33%;
    height: 30vw;
}

#judologo {
    width: 12vw;
    float: right;
    margin-left: 50px;
}

#info {
    border: 1px solid;
    padding: 30px;
    margin: 5px;
}




/* .responsive.img {
    width: 100%;
    height: auto;
} --> /*

