@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

h1 {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai";
}

section {
    display: block;
}

p {
    color: red;
}


.header {
    height: 20vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -75v;
}

li {
    font-size: 2vw
}



.vid-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 40%;
        left: 30%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

nav li { 
    float: right;
    margin: 40px;
}

nav { 
    display: flex;
    justify-content: center;

}