@font-face {
    font-family: "samurai";
    src: url("../fonts/samurai.otf");
}

@font-face {
    font-family: "shadow";
    src: url("../fonts/shadow.ttf");
}

@media only screen and (max-width: 600px){
    #info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        order: 1;
    }
    .aside1 {
        order: 2;
        display: flex;
    }

    
    .aside2 {
        order: 3;
        display: flex;
        width: 50px;

    }
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    } 

    #blackbelt {
        width: 50px;
    }
}

h1 {
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 5vw;
    line-height: 25vw;
    min-width: 100px;
    font-family: "samurai", sans-serif;
}

#navi {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    margin-top: 5%;
}

#navi li {
    display: inline;
    margin: 15px;
    font-family: "samurai", sans-serif;
}

#navi a {
    text-decoration: none;
    color: black;
}

#navi a:hover {
    text-decoration: underline;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
   /* flex-flow: row wrap;
    text-align: center; */
} 


#blackbelt {
    width: 180px;
    margin-left: 60px;

}

#judologo {
    width: 120px;
    margin-right: 60px;

} 

.textcenter {
    text-align: center;
}

/* .aside2{
    float: right;
} */



#info {
    border: 3px solid;
    padding: 2vw;
    margin: 1vw;
    width: 33%;
}

p { font-family: "shadow", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

#guide {
    position: relative;
    margin-left: 7%;
    top: 20vw;
}

/*section {
    display: block;
} */

#h1history {
    position: relative;
    bottom: 30vw;
}

.header {
    height: 21vw;
    background-image: url("../backgrounds/japan2.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -75v;
}


.vid-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        height: 40%;
        left: 30%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#hr1 {
    position: relative;
    bottom: 20vw;
}

#jigoro {
    position: relative;
    width: 45vw;
    height: 55vw;
    bottom: 30vw
}

/*#div1   {
    display: inline-block;
    width: 33%;
} */






/* .responsive.img {
    width: 100%;
    height: auto;
} --> /*

